<nav class="navbar navbar-default" role="navigation" ng-controller="HeaderCtrl">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">No Agenda QSO Party 2014</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li><a href="#/rules">Rules</a></li>
                <li><a href="#/results">Results</a></li>
                <li ng-hide="contestant"><a href="#/login">Log Book</a></li>
                <li ng-show="contestant"><a href="#/logbook">Log Book</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        <span class="pull-right" ng-show="contestant">{{contestant.UserName}}</span>

    </div>
    <!-- /.container-fluid -->
</nav>
