<div class="col-md-12" ng-controller="RulesCtrl">
<div class="row">
    <h2>The Rules</h2>
    <ol>
        <li>Abide by all Amateur Radio regulations in your country.</li>
        <li>No Agenda QSO Party Organizers are not responsible for any direct or indirect damage/trouble associated with this QSO Party.</li>
        <li>When using repeaters, be considerate of other users who are not taking part in the QSO Party.</li>
    </ol>
    <h2>Making A Call</h2>
    <p>
        <strong>&lt;Call&gt;</strong><br/>
        "CQ No Agenda QSO Party 2015"<br/>
        <strong>&lt;Contest Number&gt;</strong><br/>
        The other station's RS/RST<br/>
        The year you started listening to No Agenda<br/>
        Your contributor status (if applicable):<br/>
        "P" - Producer<br/>
        "K" - Knight/Dame<br/>
        "B" - Baron/Baronette<br/>
        "D" - Duke<br/>
        "C" - Creator<br/>
    </p>
    <div class="well">
        <h3>Example of a rubber stamp QSO - Voice</h3>
        <p>
            <strong>&lt;CQ&gt;</strong><br/>
            CQ No Agenda QSO Party, CQ No Agenda QSO Party<br/>
            This is KF5SLN, Kilo - Foxtrot - Five - Sierra - Lima - November<br/>
            Calling CQ and Standing By<br/>
            <br/>
            <strong>&lt;reply&gt;</strong><br/>
            KF5SLN, This is KF5SVR, Kilo - Foxtrot - Five - Sierra - Victor - Romeo<br/>
            I am from the U.S. (country name) state Texas (province)<br/>
            Exchange Number is "59" and "2010K"<br/>
            Thank you for the contact 73<br/>
            <br/>
            <strong>&lt;reply&gt;</strong><br/>
            KF5SVR, This is KF5SLN, Kilo - Foxtrot - Five - Sierra - Lima - November<br/>
            I am from the U.S. (country name) state Texas (province)<br/>
            Exchange Number is "59" and "2007C"<br/>
            Thank you for the contact, In the morning, 73<br/>
            <br/>
        </p>
    </div>
    <div class="well">
        <h3>Example of a rubber stamp QSO - CW</h3>
        <p>
            <strong>&lt;CQ&gt;</strong><br/>
            [KF5SLN] CQ NO AGENDA QSO PARTY DE KF5SLN K<br/>
            <br/>
            <strong>&lt;reply&gt;</strong><br/>
            [KF5SVR] KF5SVR<br/>
            <br/>
            <strong>&lt;reply&gt;</strong><br/>
            [KF5SLN] KF5SVR QTH TEXAS US 599 2007C<br/>
            <br/>
            <strong>&lt;reply&gt;</strong><br/>
            [KF5SVR] KF5SLN QTH TEXAS US 599 2010K<br/>
            <br/>
            <strong>&lt;reply&gt;</strong><br/>
            [KF5SLN] ITM TU KF5SLN<br/>
            <br/>
        </p>
    </div>
    <h2>Points</h2>
    <p>You earn one point for each QSO made with a matching log entry from the distant station recorded in the log entry.</p>
    <p>You can earn bonus points for the following:</p>
    <ul>
        <li>1 point for each unique country contacted.</li>
        <li>1 point for each unique U.S. State contacted.</li>
        <li>1 point for each Knight/Dame contacted.</li>
        <li>2 points for each Baron/Baronette contacted.</li>
        <li>3 points for each Duke contacted.</li>
        <li>5 points for each Creator contacted.</li>
    </ul>
    <p/>
</div>
<div class="row">
    <p/>
</div>
</div>
