<div class="col-md-12" ng-controller="RulesCtrl">
    <div class="row">
        <h2>The Rules</h2>
        <ol>
            <li>Abide by all Amateur Radio regulations in your country.</li>
            <li>No Agenda QSO Party Organizers are not responsible for any direct or indirect damage/trouble associated
                with this QSO Party.
            </li>
            <li>When using repeaters and reflectors, be considerate of other users who are not taking part in the QSO
                Party.
            </li>
        </ol>
        <h2>Making A Call</h2>

        <p>
            <strong>&lt;Call&gt;</strong><br/>
            "CQ No Agenda QSO Party 2015"<br/>
            <strong>&lt;Contest Number&gt;</strong><br/>
            The other station's RS/RST<br/>
            The year you started listening to No Agenda<br/>
            Your contributor status (if applicable):<br/>
            "P" - Producer<br/>
            "K" - Knight/Dame<br/>
            "B" - Baron/Baronette<br/>
            "D" - Duke<br/>
            "C" - Creator<br/>
        </p>

        <div class="well">
            <h3>Example of a rubber stamp QSO - Voice</h3>

            <p>
                <strong>&lt;CQ&gt;</strong><br/>
                CQ No Agenda QSO Party, CQ No Agenda QSO Party<br/>
                This is KF5SLN, Kilo - Foxtrot - Five - Sierra - Lima - November<br/>
                Calling CQ and Standing By<br/>
                <br/>
                <strong>&lt;reply&gt;</strong><br/>
                KF5SLN, This is KF5SVR, Kilo - Foxtrot - Five - Sierra - Victor - Romeo<br/>
                Exchange Number is "59" and "2010K"<br/>
                Thank you for the contact 73<br/>
                <br/>
                <strong>&lt;reply&gt;</strong><br/>
                KF5SVR, This is KF5SLN, Kilo - Foxtrot - Five - Sierra - Lima - November<br/>
                Exchange Number is "59" and "2007C"<br/>
                Thank you for the contact, In the morning, 73<br/>
                <br/>
            </p>
        </div>
        <div class="well">
            <h3>Example of a rubber stamp QSO - CW</h3>

            <p>
                <strong>&lt;CQ&gt;</strong><br/>
                [KF5SLN] CQ NO AGENDA QSO PARTY DE KF5SLN K<br/>
                or<br/>
                [KF5SLN] CQ ITM DE KF5SLN K<br/>
                <br/>
                <strong>&lt;reply&gt;</strong><br/>
                [KF5SVR] KF5SVR<br/>
                <br/>
                <strong>&lt;reply&gt;</strong><br/>
                [KF5SLN] KF5SVR 599 2007C<br/>
                <br/>
                <strong>&lt;reply&gt;</strong><br/>
                [KF5SVR] KF5SLN 599 2010K<br/>
                <br/>
                <strong>&lt;reply&gt;</strong><br/>
                [KF5SLN] ITM TU KF5SLN<br/>
                <br/>
            </p>
        </div>
        <h2>Points</h2>

        <p>You earn one point for each QSO made.</p>

        <p>You can earn bonus points for the following:</p>
        <ul>
            <li>1 point for each unique country contacted.</li>
            <li>1 point for each unique U.S. State contacted.</li>
            <li>1 point for each Knight/Dame contacted.</li>
            <li>2 points for each Baron/Baronette contacted.</li>
            <li>3 points for each Duke contacted.</li>
            <li>10 points for each Creator contacted.</li>
        </ul>
        <p/>
    </div>
    <div class="row">
        <h2>Submitting Call Logs</h2>

        <p>
            We have provided a log book where you can either manually enter your QSOs during the party or upload files
            using the Cabrillo V3.0 format.
            You will need to register with the site in order to access the log book. Once registered, you will be able
            to add as many logs as you wish.
        </p>

        <p>
            If you plan to upload a file of your QSOs, please include the following information. For each QSO record
            include only the following fields;
            frequency, mode, date, time, call sent, rst sent, exchange sent, call rcvd, rst rcvd, exhcnage rcvd and
            transmitter number. We will use the callsign
            lookup at QRZ.com to determine each operator's country and state/province to help in reducing the amount of
            information needed to send in the QSO.
        </p>

        <p>
            If you have issues using the log book, please email the organizer <a href="mailto:jlavin@jimlavin.net">KF5SVR</a>
            with the subject #NOAGENDAQSOPARTY CONTEST LOG.
        </p>
    </div>
    <div class="row">
    <pre>
        START-OF-LOG: 3.0
        CALLSIGN: KF5SVR
        CONTEST: NOAGENDAQSOPARTY2015
        CATEGORY-OPERATOR: SINGLE-OP
        CATEGORY-ASSISTED: NON-ASSISTED
        CATEGORY-BAND: ALL
        CATEGORY-POWER: HIGH
        CATEGORY-MODE: SSB
        CATEGORY-TRANSMITTER: ONE
        CATEGORY-STATION: FIXED
        CLAIMED-SCORE: 9447852
        CLUB: My Contest Club
        LOCATION: WMA
        NAME: Jim Lavin
        ADDRESS: 100 Main St
        ADDRESS-CITY: Any Towne
        ADDRESS-STATE-PROVINCE: MA
        ADDRESS-POSTALCODE: 01569
        ADDRESS-COUNTRY: USA
        OPERATORS: KF5SVR
        SOAPBOX: Put your comments here.
        SOAPBOX: Use multiple lines if needed.
        QSO:  3799 PH 2000-10-26 0711 KF5SVR          59  2010K     K9QZO         59  2009K     0
        QSO: 14256 PH 2000-10-26 0711 KF5SVR          59  2010K     P29AS         59  2013P     0
        QSO: 21250 PH 2000-10-26 0711 KF5SVR          59  2010K     4S7TWG        59  2015      0
        QSO: 28530 PH 2000-10-26 0711 KF5SVR          59  2010K     JT1FAX        59  2010D     0
        QSO:  7250 PH 2000-10-26 0711 KF5SVR          59  2010K     WA6MIC        59  2008C     0
        END-OF-LOG:
    </pre>
    </div>
</div>
