<div class="col-md-12" ng-controller="HomeCtrl">
    <div class="row">
        <h2>Purpose</h2>
        <p>
            Unless you listen to the <a href="http://noagendashow.com">No Agenda Show</a> you probably didn't know that
            the creators and many of the producers that support the show are avid ham operators.
            The No Agenda QSO Party was started to help connect the listeners of the No Agenda Show via Amateur Radio and spread the word
            about the Best Podcast in the Universe!
        </p>
        <h2>Date & Time</h2>
        <p>
            The QSO Party is a week long event, the dates are still to be determined. So, listen to the No Agenda Show for an announcement for the final dates.
        </p>
        <h2>Who can take part in the party?</h2>
        <p>
            The No Agenda QSO Party is open to all actively licenced Amateur Radio Operators world wide.
        </p>
        <h2>Participation bands and modes</h2>
        <p>
            The No Agenda QSO Party is an All Bands/All Modes QSO party, so everyone can participate based on their country's Amateur Radio regulations.
        </p>
        <p>
            Check the <a href="#/rules">Rules</a> section for the contest rules and how to log your contacts for reporting.
        </p>
    </div>
    <div class="row">
        <h2>Wanna Help get the party started?</h2>
        <p>Putting together a QSO Party is a big task, if you have some time to help with the web site design, coding or have some input please send an email to the organizer <a href="mailto:jlavin@jimlavin.net">KF5SVR</a> with the subject #NOAGENDAQSOPARTY</p>
    </div>
</div>
